.register.wrapper {
	height: 100vh;

	background: linear-gradient(248.7deg, #030a1b 68.64%, #9747ff 206.69%);

	display: flex;
}

#error-message {
	color: red;
	text-align: center;
}

.register.container {
	max-width: 1280px;
	margin: 0 auto;

	padding: 0 15px;

	display: flex;
	align-items: center;
	gap: 70px;
}

.left {
    margin-top: 80px;
	align-self: flex-start;
	min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
	display: none;
}

.right > img {
	max-width: 100%;
}

.title {
	font-size: 72px;
	margin-bottom: 26px;
}

.links {
	display: flex;
	justify-content: space-between;
    gap: 100px;
	padding: 0 20px;

	margin-bottom: 86px;
}

.links > * {
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
}
.links > ._active {
	position: relative;
}

.links > ._active::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 4px;
	background: #228ee5;
	filter: blur(2px);
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

    margin-bottom: 25px;
}

.inputs > * {
    width: 100%;
}

.button {
    margin-top: 25px;
}

@media (min-width: 768px) {
	.right {
		display: block;
	}
	.left {
		margin-top: 70px;
	}
}
